#common
**/*.DS_Store
**/*.ipynb_checkpoints/
**/__pycache__
out/

#ZINC dataset
data/molecules/*.pkl
data/molecules/*.pickle
data/molecules/*.zip
data/molecules/zinc_full/*.pkl
data/molecules/zinc_full/*.pickle


#OGB
dataset/
